﻿@* @model BannerViewModel *@
@* @{ *@
@*     var dropzonefull = "dropzone"; *@
@* } *@
@* *@
@* @foreach (var item in Model.BannerBooks.OrderByDescending(x => x.BNB_ID)) *@
@* { *@
@*     <form asp-controller="Banner" asp-action="UpdateChapter" enctype="multipart/form-data"  data-ajax="true" data-ajax-method="post" data-ajax-complete="bannerChapterUpdate" data-ajax-loading="#spinner"> *@
@* *@
@* *@
@*         <div data-repeater-item class="form-group row align-items-center"> *@
@*             <div class="col-md-3"> *@
@*                 <div class="kt-form__group--inline"> *@
@*                     <div class="kt-form__label"> *@
@*                         <label class="kt-label m-label--single">Sıra:</label> *@
@*                     </div> *@
@*                     <div class="kt-form__control"> *@
@*                         <input name="BannerBook.BNB_Order" value="@item.BNB_Order" type="number" class="form-control" placeholder="1"> *@
@*                         <input name="BannerBook.BNB_BannerID" value="@item.BNB_BannerID" type="hidden"> *@
@*                         <input name="BannerBook.Status" value="@item.BNB_Status" type="hidden"> *@
@* *@
@*                         <input name="BannerBook.BNB_ID" value="@item.BNB_ID" type="hidden"> *@
@* *@
@* *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="d-md-none kt-margin-b-10"></div> *@
@*             </div> *@
@*             <div class="col-md-5 "> *@
@*                 <div class="kt-form__group--inline"> *@
@*                     <strong> *@
@*                         Kitap : *@
@*                     </strong> *@
@*                     <br> *@
@*                     <select class="form-control  basicSelect" name="BannerBook.BNB_BookID"> *@
@* *@
@*                         @foreach (var item2 in Model.Books) *@
@*                         { *@
@*                           @if (item2.BK_ID == item.BNB_BookID) *@
@*                           { *@
@*                               <option selected="selected" value="@item2.BK_ID">@Model.Publishers.FirstOrDefault(x=>x.PB_ID==item2.BK_PublisherID).PB_Name - @item2.BK_Name</option> *@
@*                           } *@
@*                           else *@
@*                           { *@
@*                               <option value="@item2.BK_ID">@Model.Publishers.FirstOrDefault(x=>x.PB_ID==item2.BK_PublisherID).PB_Name - @item2.BK_Name</option> *@
@*                           } *@
@*                         } *@
@* *@
@* *@
@* *@
@*                     </select> *@
@*                 </div> *@
@* *@
@*                 <div class="d-md-none kt-margin-b-10"></div> *@
@*             </div> *@
@* *@
@* *@
@*             <div class="col-md-3 mt-4"> *@
@* *@
@*                 <button id="chapterBtn" type="submit" class="btn-sm btn btn-label-brand btn-bold"> *@
@*                     <i class="la la-refresh"></i> *@
@*                     Güncelle *@
@*                 </button> *@
@*                 *@
@*                 *@
@*             </div> *@
@* *@
@* *@
@*         </div> *@
@* *@
@* *@
@*     </form> *@
@*     <form asp-controller="Banner" asp-action="DeleteChapter" enctype="multipart/form-data"  data-ajax="true" data-ajax-method="post" data-ajax-complete="bannerChapterUpdate" data-ajax-loading="#spinner"> *@
@*               *@
@*         <input value="@item.BNB_ID" name="bannerId" type="hidden"> *@
@* *@
@*         <button id="chapterBtn" type="submit" class="btn-sm btn btn-label-brand btn-bold"> *@
@*             <i class="la la-trash-o"></i> *@
@*             Sil *@
@*         </button> *@
@*     </form> *@
@* *@
@*     *@
@* *@
@* *@
@*     <div class="kt-separator kt-separator--dashed"></div> *@
@* } *@