﻿@model Dashboard.Models.ProductViewModel
@using Dashboard.Utilities
@{
    /**/

    ViewBag.Title = "Ürün Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            Dashboard
        </h3>
        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="/Home/Index" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="/Home/Index" class="kt-subheader__breadcrumbs-link">
                İşlemler
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="/Product/Index" class="kt-subheader__breadcrumbs-link">
                Ürün
            </a>
            <span class="kt-subheader__breadcrumbs-separator"></span>
            <a href="/Product/Edit" class="kt-subheader__breadcrumbs-link">
                Düzenle
            </a>

            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
        </div>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <a href="#" class="btn kt-subheader__btn-primary">
                Actions &nbsp;

                <!--<i class="flaticon2-calendar-1"></i>-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"/>
                        <rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"/>
                        <path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3"/>
                    </g>
                </svg>
            </a>
            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"/>
                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000"/>
                        </g>
                    </svg>

                    <!--<i class="flaticon2-plus"></i>-->
                </a>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                    <!--begin::Nav-->
                    <ul class="kt-nav">
                        <li class="kt-nav__head">
                            Add anything or jump to:
                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                <span class="kt-nav__link-text">Order</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                <span class="kt-nav__link-text">Ticket</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-link"></i>
                                <span class="kt-nav__link-text">Goal</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                <span class="kt-nav__link-text">Support Case</span>
                                <span class="kt-nav__link-badge">
                                    <span class="kt-badge kt-badge--success">5</span>
                                </span>
                            </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__foot">
                            <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                        </li>
                    </ul>

                    <!--end::Nav-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
<div class="alert alert-light alert-elevate" role="alert">
    <div class="alert-icon">
        <i class="flaticon-warning kt-font-brand"></i>
    </div>
    <div class="alert-text">
        Lütfen tüm zorunlu alanları doldurunuz.
    </div>
     <form asp-controller="Product" asp-action="Delete" enctype="multipart/form-data" data-ajax="true" data-ajax-method="post" data-ajax-complete="deleteBanner" data-ajax-loading="#spinner">
        <input type="hidden" name="productId" value="@Model.Product.PRD_ID">
                <button id="" type="submit" class="btn btn-danger">
                                <span>
                                    <i class="la la-trash-o"></i>
                                    <span>Sil</span>
                                </span>
                            </button>
    </form>
</div>
   


    <form class="f" asp-controller="Product" asp-action="Edit"
          data-ajax="true" data-ajax-method="post"enctype="multipart/form-data" data-ajax-complete="ProductCreate" data-ajax-loading="#spinner">


        <div class="row">
            <div class="loading" id="spinner" style="display:none">
                Loading&#8230;

            </div>
            <div class="col-md-9">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line   nav-tabs-line-right nav-tabs-line-brand" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-link active show" data-toggle="tab" href="#m_tabs_bookinfo" role="tab" aria-selected="false">
                                        Ürün Bilgileri
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tabs_bookinfo" role="tabpanel">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="kt-form__section kt-form__section--first">
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Adı :
                                                </strong>
                                                <input id="title" type="text" class="form-control m-input" asp-for="Product.PRD_Name" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Name"></span>
                                                <span class="text-danger wrapper titlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Code :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_Code" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Code"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Bireysel Limit :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_Max_Bireysel" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Max_Bireysel"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Kurumsal Limit :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_Max_Kurumsal" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Max_Kurumsal"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Sipariş Limiti :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_AllowOrder" placeholder="">
                                                <input  type="hidden" class="form-control m-input" asp-for="Product.PRD_ID" placeholder="">
                                                <input  type="hidden" class="form-control m-input" asp-for="Product.PRD_Photo" placeholder="">
                                                <input  type="hidden" class="form-control m-input" asp-for="Product.PRD_CatologPhoto" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_AllowOrder"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Sıra :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_Order" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Order"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Fiyat :
                                                </strong>
                                                <input id="subtitle" type="text" class="form-control m-input" asp-for="Product.PRD_Price" placeholder="">
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Price"></span>
                                                <span class="text-danger wrapper subtitlecounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Açıklama:
                                                </strong>
                                                <textarea id="description" class="form-control kt-input" asp-for="Product.PRD_Text" rows="4"></textarea>
                                                <span class="text-danger wrapper" asp-validation-for="Product.PRD_Text"></span>
                                                <span class="text-danger wrapper descriptioncounter"></span>
                                            </div>
                                            <div class="form-group kt-form__group">
                                                <strong>
                                                    Tip :
                                                </strong>
                                                <select class="form-control kt-select2" id="kt_select2_2" name="Product.PRD_Type">


                                                    <option value="1">tip</option>


                                                </select>
                                            </div>
     <div class="form-group kt-form__group">
                                                <strong>
                                                    Durum :
                                                </strong>
                                                <select class="form-control kt-select2" id="kt_select2_2" name="Product.PRD_Status">


                                                  @if (Model.Product.PRD_Status==1)
                                                  {
                                                    
                                                      <option value="1">Aktıf</option>
                                                  }
                                                  else
                                                  {
                                                      <option value="0">Taslak</option>
                                                  }


                                                </select>
                                            </div>

                                            <div class="kt-form__group form-group">
                                                <strong>
                                                    Görsel:
                                                </strong>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" asp-for="PRD_Photo">
                                                    <label class="custom-file-label btn-success">@Model.Product.PRD_Photo</label>
                                                </div>
                                                  <a target="_blank" href="/uploads/@Model.Product.PRD_Photo">Fotoğrafı Göster</a>
                                            </div>
                                            <div class="kt-form__group form-group">
                                                <strong>
                                                    Katalog Foto:
                                                </strong>
                                                <div class="custom-file">
                                                    <input type="file"  class="custom-file-input" asp-for="PRD_CatologPhoto">
                                                    <label class="custom-file-label btn-success">@Model.Product.PRD_CatologPhoto</label>
                                                </div>
                                              <a target="_blank" href="/uploads/@Model.Product.PRD_CatologPhoto">Fotoğrafı Göster</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                @*Sağ içerik*@

            </div>
            <div class="col-lg-3">
                <div class="kt-portlet">

                    <div class="kt-portlet__body text-center justify-content-center">
                        <button id="saveButton" type="submit" class="btn btn-primary">
                            <span>
                                <i class="la la-floppy-o"></i>
                                <span>Kaydet</span>
                            </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </form>


</div>


@section pagescripts{
    <link href="/assets/classic/vendors/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/demo/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>
    <script src="/assets/classic/assets/js/demo1/pages/crud/forms/widgets/select2.js" type="text/javascript"></script>
    <script src="/assets/demo/default/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="/assets/js/demo1/pages/crud/forms/widgets/select2.js" type="text/javascript"></script>
    <script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>

    <script>
        $("#promoted").click(function () {
            if ($('#promoted').is(":checked")) {
                $('#promoted').val(true)
            }
            if (!$('#promoted').is(":checked")) {
                $('#promoted').val(false)
            }
        })

        ProductCreate = function (data) {
            event.preventDefault();
            var result = data.responseJSON['success'];
            var Id = data.responseJSON['id'];


            if (result == 1) {
                swal.fire({
                    title: "İşlem başarılı!",

                    type: "success",
                    buttonsStyling: false,
                    confirmButtonText: "Onayla",
                    confirmButtonClass: "btn btn-brand"
                });
             // window.location.href = "http://panel..net/Product/Edit/" + Id;
            }

            if (result == 0) {
                swal.fire({
                    title: "İşlem başarısız!",

                    type: "warning",
                    buttonsStyling: false,
                    confirmButtonText: "Onayla",
                    confirmButtonClass: "btn btn-brand"
                });
            }


        };
           deleteProduct = function (data) {
                                      event.preventDefault();
                                   var result = data.responseJSON['success'];
        
        
                                      if (result == 1) {
                                          swal.fire({
                                              title: "İşlem başarılı!",
                                              text:"Yönlendiriliyorsunuz.",
                                              type: "success",
                                              buttonsStyling: false,
                                              confirmButtonText: "Onayla",
                                              confirmButtonClass: "btn btn-brand"
                                          });
                                          $(".clear-form").val("");
                     //     window.location.href = "http://panel.boodio.net/Banner";
        
        
        
                                      }
        
                                      if (result == 0) {
                                          swal.fire({
                                              title: "Bir şeyler ters gitti!",
        
                                              type: "warning",
                                              buttonsStyling: false,
                                              confirmButtonText: "Onayla",
                                              confirmButtonClass: "btn btn-brand"
                                          });
        
                                      }
        
        
                                  };
    </script>


}