﻿
@model Dashboard.Models.ContactFormViewModel
@{
	ViewBag.Title = "ContactForm Listesi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- END: Subheader -->

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">
			Dashboard
		</h3>
		<span class="kt-subheader__separator kt-hidden"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="" class="kt-subheader__breadcrumbs-link">
				İşlemler
			</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="" class="kt-subheader__breadcrumbs-link">
				İletişim Formları
			</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="" class="kt-subheader__breadcrumbs-link">
				Liste
			</a>

			<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
	<div class="kt-subheader__toolbar">
		<div class="kt-subheader__wrapper">
			<a href="#" class="btn kt-subheader__btn-primary">
				Actions &nbsp;

				<!--<i class="flaticon2-calendar-1"></i>-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<rect id="bound" x="0" y="0" width="24" height="24" />
						<rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
						<path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
					</g>
				</svg>
			</a>
			<div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
				<a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
							<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
							<path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
						</g>
					</svg>

					<!--<i class="flaticon2-plus"></i>-->
				</a>
				<div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

					<!--begin::Nav-->
					<ul class="kt-nav">
						<li class="kt-nav__head">
							Add anything or jump to:
							<i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
						</li>
						<li class="kt-nav__separator"></li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon flaticon2-drop"></i>
								<span class="kt-nav__link-text">ContactForm</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
								<span class="kt-nav__link-text">Ticket</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon flaticon2-link"></i>
								<span class="kt-nav__link-text">Goal</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon flaticon2-new-email"></i>
								<span class="kt-nav__link-text">Support Case</span>
								<span class="kt-nav__link-badge">
									<span class="kt-badge kt-badge--success">5</span>
								</span>
							</a>
						</li>
						<li class="kt-nav__separator"></li>
						<li class="kt-nav__foot">
							<a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
							<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
						</li>
					</ul>

					<!--end::Nav-->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="alert alert-light alert-elevate" role="alert">
		<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
		
	</div>
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon2-line-chart"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					İletişim Formları
					<small>@Model.ContactForms.Count() adet İletişim Formu mevcut</small>
				</h3>
			</div>
			<div class="kt-portlet__head-toolbar">
				<div class="kt-portlet__head-wrapper">
					<div class="kt-portlet__head-actions">
						<div class="dropdown dropdown-inline">
							<button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-download"></i> Çıktı al
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								@* <ul class="kt-nav"> *@
								@* 	<li class="kt-nav__section kt-nav__section--first"> *@
								@* 		<span class="kt-nav__section-text">Choose an option</span> *@
								@* 	</li> *@
								@* *@
								@* 	<li class="kt-nav__item"> *@
								@* 		<a href="/Book/Excel" class="kt-nav__link"> *@
								@* 			<i class="kt-nav__link-icon la la-file-excel-o"></i> *@
								@* 			<span class="kt-nav__link-text">Excel</span> *@
								@* 		</a> *@
								@* 	</li> *@
								@* 	<li class="kt-nav__item"> *@
								@* 		<a href="/Book/Csv" class="kt-nav__link"> *@
								@* 			<i class="kt-nav__link-icon la la-file-text-o"></i> *@
								@* 			<span class="kt-nav__link-text">CSV</span> *@
								@* 		</a> *@
								@* 	</li> *@
								@* 	<li class="kt-nav__item"> *@
								@* 		<a href="#" class="kt-nav__link"> *@
								@* 			<i class="kt-nav__link-icon la la-file-pdf-o"></i> *@
								@* 			<span class="kt-nav__link-text">PDF</span> *@
								@* 		</a> *@
								@* 	</li> *@
								@* </ul> *@
							</div>
						</div>
						&nbsp;
						
					</div>
				</div>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="kt-spinner kt-spinner--md kt-spinner--info d-none" id="spinner"></div>
			<!--begin: Search Form -->
			<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
				<div class="row align-items-center">
					<div class="col-xl-12 ContactForm-2 ContactForm-xl-1">
                        <div class="row justify-content-center align-items-center">

                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Ara..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>


                        </div>
					</div>
					<div class="col-xl-12 mt-5 mx-auto ContactForm-2 ContactForm-xl-1">
						<div class="row mx-auto justify-content-center  align-items-center">
							<div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Durum:</label>
									</div>
									<div class="kt-form__control">
										<select class="form-control bootstrap-select" id="kt_form_status">
											<option value="">Hepsi</option>
											<option value="1">Yayında</option>
											<option value="0">Taslak</option>

										</select>
									</div>
								</div>
							</div>

							
						</div>
					</div>
					<div class="col-xl-4 col-md-4 ContactForm-1 ContactForm-xl-2 kt-align-right">
					

					</div>
				</div>
			</div>

			<!--end: Search Form -->
		</div>
		<div class="kt-portlet__body kt-portlet__body--fit">

			<!--begin: Datatable -->
			<table class="kt-datatable " id="booklist" width="100%">
				<thead>
                    <tr>
                        <th title="Field #1"> ID</th>
                        <th title="Field #2">Adı</th>
                        <th title="Field #3">Email </th>
                        <th title="Field #3">Telefon </th>
                    

                        <th title="Durum">Durum</th>
                   <th></th>
                        <th title="İşlemler">İşlemler</th>





                    </tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ContactForms.OrderByDescending(x=>x.CF_ID))
					{
                    <tr class="bookid-@item.CF_ID">
                        <td>@item.CF_ID</td>
                        <td>@item.CF_FullName</td>
                        <td>@item.CF_Email </td>
                        <td>@item.CF_Phone</td>
                       <td align="right">   @item.CF_Status </td>

                        <td>
                            <div class="text-center">
                                <div class="dropdown">

                                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-sm" data-toggle="dropdown">

                                        <i class="flaticon2-gear"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <a class="dropdown-item" href="/ContactForm/Edit/@item.CF_ID"><i class="la la-edit"></i> Düzenle</a>
                                    </div>
                                </div>
                                <a href="/ContactForm/Edit/@item.CF_ID" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="Düzenle">

                                    <i class="flaticon2-paper"></i>
                                </a>


                            </div>

                        </td>



                    </tr>
					}
				</tbody>
			</table>

			<!--end: Datatable -->
		</div>
	</div>
</div>

@section pagescripts{
	<script src="./assets/js/demo1/pages/crud/forms/widgets/select2.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('#myModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);//Button which is clicked

				var clickedButtonId = button.data('id');//Get id of the button
				// set id to the hidden input field in the form.
				var clickedButtonName = button.data('name');

				$("#Id").text(clickedButtonId);
				$("#Name").text(clickedButtonName);

				$("#id").val(clickedButtonId);

			});
			$('#status').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);//Button which is clicked

				var clickedButtonId = button.data('id');//Get id of the button
				// set id to the hidden input field in the form.
				var clickedButtonName = button.data('name');
				var clickedButtonStatus = button.data('status');

				$("#sId").text(clickedButtonId);
				$("#sName").text(clickedButtonName);

				console.log(clickedButtonStatus)
				if (clickedButtonStatus == 1) {
					$("#Status").text("Taslak");
					$("#bookstatus").val(0);
				}
				else {
					$("#Status").text("Yayında");

					$("input #bookstatus").val(1);
				}

				$("#bookid").val(clickedButtonId);


			})
        });
		 deleteBook = function (data) {
            event.preventDefault();


            var result = data.responseJSON['success'];
            var result2 = data.responseJSON['id'];



             if (result == 1) {

                 var hide_me = $("tr:contains(" + result2 + ")");
                 hide_me.remove();
                swal.fire({
                    title: "İşlem başarılı!",

                    type: "success",
                    buttonsStyling: false,
                    confirmButtonText: "Onayla",
                    confirmButtonClass: "btn btn-brand"
                });
				  $("#myModal").hide();
				  $(".modal-backdrop").hide();




            }
            if (result == 0) {
                swal.fire({
                    title: "İşlem başarısız!",

                    type: "warning",
                    buttonsStyling: false,
                    confirmButtonText: "Onayla",
                    confirmButtonClass: "btn btn-brand"
                });
            }

        };
	</script>

}
